
@{
    Layout = null;
}

<h3> Mvc Tablo Ornegi</h3>
<br />
<table>
    <tr>
        <th>Id</th>
        <th>Kategori Adi</th>
        <th>Aciklama</th>
        <th>Durum</th>

    </tr>

    <tr>
        <td>1</td>
        <td>Spor</td>
        <td>Galatasaray sampiyonluk Oykusu</td>
        <td> True</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Dizi</td>
        <td>LA CASA DE PAPEL yeni sezon</td>
        <td> True</td>
    </tr>



</table>
